* {
    box-sizing: content-box;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom left ,blue, lightblue,rgb(236, 107, 107),red);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1028px;
    min-height: 100vh;
    margin: 0 auto;
   
}

.board {
    max-width: 950px;
    min-height: 400px;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 10px 0;
    margin: 15px auto;
    border-radius: 20px;
    padding: 20px;
}

.play {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin: 8px auto; 
    border:0.1px solid rgb(0, 0, 0) ; 
}
.play:hover {
    cursor: pointer;
   box-shadow:  0 0 50px #06fb8d; 
}

h2.msg { 
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

nav {
    background-color: black;
    color: white;
    display: block;
    width: 100%;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 10px 10px 10px 50px;
}

#rest {
    display: block;
    margin: 10px auto;
    color: white;
    background-color: black;
    padding: 20px 50px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
    border: 0px;
}
#rest:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
}