* {
    box-sizing: content-box;
}

body {
    width: 1028px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: gray;
}

.board {
    min-width: 800px;
    min-height: 400px;
    background-color: black;
    margin: 50px auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 25px 0;
    border-radius: 20px;
}

.play {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin: 10px auto; 
    border:0.1px solid rgb(0, 0, 0) ; 
}
.play:hover {
    cursor: pointer;
   
   box-shadow:  0 0 10px #fb0606;
    
}